<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Reddit+Mono:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <title>Letters Feed</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/letters.css' %}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FutureEcho</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1>FutureEcho</h1>
        <nav>
          <a href="#">Home</a>
          <a href="#">Profile</a>
          <a href="#">Messages</a>
          <a href="#">Logout</a>
        </nav>
      </div>
    </header>

    {% for post in posts %}
    <main class="main-content">
      <div class="container">
        <section class="post-feed">
          <div class="post">
            <div class="post-header">
              <div class="user-info">
                <img
                  src="{% static 'your_app/images/user-avatar.jpg' %}"
                  alt="User Avatar"
                  class="avatar"
                />
                <div class="user-details">
                  <h2>{{ post.title }}</h2>
                  <h5>By {{ post.author }} on {{ post.datePosted }}</h5>
                </div>
              </div>
            </div>
            {{ post.content }}
          </div>
        </section>
      </div>
    </main>
    {% endfor %}
    <footer class="footer">
      <div class="container">
        <p>&copy; 2024 LetterFeed. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
