@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Reddit+Mono:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(233, 233, 233);
  font-family: "Inconsolata", monospace;

  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
header {
  width: 100%;
  height: 100vh;

  background-size: cover;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgb(99, 40, 193);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

.menu a:hover {
  border: 1px solid rgb(237, 237, 237);
  background: transparent;
  border-radius: 15px;
}

.account {
  display: flex;
  align-items: flex-end; /* Aligns items to the bottom of the container */
  gap: 15px;
}
.register a {
  text-decoration: none;
  color: #141414;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  background: rgb(224, 224, 224);
}

.register {
  display: inline-block;
}

.register a:hover {
  border: 1px solid rgb(0, 0, 0);
  background: transparent;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.h-text {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 650px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.h-text span {
  letter-spacing: 5px;
}
.h-text h1 {
  font-size: 3.5em;
}
.h-text a {
  text-decoration: none;
  background: indianred;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 5px;
  transition: 0.4s;
}
.h-text a:hover {
  border: 1px solid indianred;
  background: transparent;
}

.container {
  width: 33%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: 100px;
  font-size: 1.5vh;
}
.form-container {
  max-width: 500px;
  margin-left: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.5vh;
}
.form-group {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 20px;
}
.button-group {
  display: flex;
  gap: 8px;
  font-size: 1.5vh;
}
.button-group button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  font-size: 1.3vh;
}
.selected {
  background-color: violet;
  color: white;
}
.default {
  background-color: #e2e6ea;
}
.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}
.input-field:focus {
  outline: none;
  border-color: #007bff;
}
.submit-button {
  background-color: rgb(99, 40, 193);
  color: white;
  height: 80px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 580px;
  font-size: 1.5vh;
}
.submit-button:hover {
  background-color: #129845;
}

.letter-input {
  width: 100%;
  height: 1000px; /* Adjust height as needed */
  padding: 10px;
  font-size: 20px;
  font-family: "Inconsolata", monospace; /* Matches the loaded font */
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical; /* Allow vertical resizing */
  margin-top: -1050px;
  margin-bottom: 100px;
  margin-left: 70px;
}

footer {
  background-color: rgb(99, 40, 193);
  color: white;
  padding: 30px 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
